@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <p>spolszczenie v1</p>
    <img style="position:absolute; vertical-align: middle; max-width:100%;" src="https://ghcdn.rawgit.org/xFeew/files/main/john-404.gif">
</div>